@using DungeonBotGame.Models.ViewModels
@using DungeonBotGame.Models.Combat;

@inject IJSRuntime JSRuntime

<div class="modal fade" id="adventureResultModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">@(AdventureResult?.Success == true ? "Victory" : "Defeat")</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @if (AdventureResult != null)
                {
                    <h4 class="m-2">Encounters</h4>

                    <Accordion Id="encountersAccordion" TListItem="EncounterResultViewModel" List="AdventureResult.EncounterResults"
                               HeadingIdFunction="@((e) => $"encounterAccordionHeading-{e.Order}")"
                               CollapseSectionIdFunction="@((e) => $"encounterAccordionCollapseSection-{e.Order}")"
                               IsCollapsedInitiallyFunction="@((e) => e.Order != 1)">
                        <HeadingView Context="encounterResult">@encounterResult.Name</HeadingView>
                        <CollapseSectionView Context="encounterResult">

                            <CollapsePanel CssClass="my-2" HeadingId="@($"combatLogPanelHeading-{encounterResult.Order}")" CollapseSectionId="@($"combatLogPanel-{encounterResult.Order}")" IsCollapsedInitially="false">
                                <HeadingView>Combat Log</HeadingView>
                                <CollapseSectionView>
                                    <Accordion Id="@($"combatLogAccordionId-{encounterResult.Order}")" TListItem="CombatLogEntry" List="encounterResult.CombatLog">
                                        <HeadingView Context="combatLogEntry"><span class="badge bg-primary rounded-pill">@($"{(combatLogEntry.CombatTime / 100.0).ToString("0.00").PadLeft(5)}s")</span> @combatLogEntry.DisplayText</HeadingView>
                                        <CollapseSectionView Context="combatLogEntry">
                                            @foreach (var character in combatLogEntry.Characters)
                                            {
                                                <div class="alert @(character.IsDungeonBot ? "alert-success" : "alert-danger")" role="alert">
                                                    @character.Name <span class="badge bg-info rounded-pill">@character.CurrentHealth / @character.MaximumHealth hp</span>
                                                </div>
                                            }
                                        </CollapseSectionView>
                                    </Accordion>

                                    <div class="alert @(encounterResult.Success ? "alert-success" : "alert-danger") m-3" role="alert">
                                        @encounterResult.ResultDisplayText
                                    </div>
                                </CollapseSectionView>
                            </CollapsePanel>

                            <CollapsePanel CssClass="my-2" HeadingId="@($"actionModulePanelHeading-{encounterResult.Order}")" CollapseSectionId="@($"actionModulePanel-{encounterResult.Order}")" IsCollapsedInitially="true">
                                <HeadingView>Action Modules</HeadingView>
                                <CollapseSectionView>
                                    @foreach (var character in encounterResult.Characters)
                                    {
                                        // Sets a CSS Class on the Code Editor when the Panel is Showing to redraw the Code Editor
                                        Action setCodeEditorCssClass = () =>
                                        {
                                            if (!CharacterPanelHasExpanded.ContainsKey(character.Id))
                                            {
                                                CharacterPanelHasExpanded.Add(character.Id, "has-expanded");
                                            }
                                        };

                                        <CollapsePanel CssClass="my-2" HeadingId="@($"characterPanelHeading-{character.Id}")" CollapseSectionId="@($"characterPanel-{character.Id}")" IsCollapsedInitially="true" OnShow="@setCodeEditorCssClass">
                                            <HeadingView>@character.Name</HeadingView>
                                            <CollapseSectionView>
                                                <DungeonBotCodeEditor CssClass="@(CharacterPanelHasExpanded.ContainsKey(character.Id) ? CharacterPanelHasExpanded[character.Id] : string.Empty)" Files="@character.SourceCodeFiles" ReadOnly="true"></DungeonBotCodeEditor>
                                            </CollapseSectionView>
                                        </CollapsePanel>
                                    }
                                </CollapseSectionView>
                            </CollapsePanel>
                        </CollapseSectionView>
                    </Accordion>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public AdventureResultViewModel? AdventureResult { get; set; }

    public Dictionary<string, string> CharacterPanelHasExpanded { get; set; } = new Dictionary<string, string>();

    public async Task ShowModalAsync()
    {
        await JSRuntime.InvokeVoidAsync("launchModal", "adventureResultModal");
    }
}