@page "/dungeonbots"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent;

@using Fluxor;
@using Store.DungeonBots;
@using DungeonBotGame.Models.ViewModels

@inject IState<DungeonBotState> DungeonBotState

<h1>Dungeon Bots</h1>

<ListAndDetailView TListItem="DungeonBotViewModel" List="@DungeonBotState.Value.DungeonBots" KeyFunction="@((DungeonBot) => DungeonBot.Id)">
    <ListItemView>
        @if (context.ListItem != null)
        {
            @context.ListItem.Name
        }
    </ListItemView>
    <DetailView>
        <DungeonBotDetail DungeonBot="@context" IsSaving="@DungeonBotState.Value.IsSaving"></DungeonBotDetail>
    </DetailView>
</ListAndDetailView>
