@page "/bots"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent;

@using System.IO;
@using System.Reflection;
@using System.Threading.Tasks;
@using Fluxor;
@using Store.DungeonBots;

<h1>Bots</h1>

@*<ListAndDetailView TListItem="Player" List="@DungeonBots" KeyFunction="@((DungeonBotGame) => DungeonBotGame.Id)">
    <ListItemView>
        @if (context.ListItem != null)
        {
            @context.ListItem.Name

            if (context.ListItem.DungeonResults != null && context.ListItem.DungeonResults.Any())
            {
                var iconClass = string.Empty;

                if (context.ListItem.DungeonResults.Last().Success)
                {
                    if (!context.IsCurrentListItem)
                    {
                        iconClass = "text-success";
                    }

                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill mx-2 @iconClass" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                }
                else
                {
                    if (!context.IsCurrentListItem)
                    {
                        iconClass = "text-danger";
                    }

                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill mx-2 @iconClass" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                }
            }
        }
    </ListItemView>
    <DetailView>
        <DungeonDetail Dungeon="@context"></DungeonDetail>
    </DetailView>
</ListAndDetailView>*@


<DungeonBotCodeEditor @ref="DungeonBotCodeEditor" Value="@GetValueFromState()" OnSaveAsync="RunAsync" OnCancelAsync="CancelAsync"></DungeonBotCodeEditor>

@inject IState<DungeonBotState> ActionModuleState

@inject IDispatcher Dispatcher

@code
{
    public DungeonBotCodeEditor? DungeonBotCodeEditor { get; set; }

    private string GetValueFromState()
    {
        return ActionModuleState.Value.ActionModuleLibraries.First().ActionModuleFiles.First().Content;
    }

    private async Task RunAsync(MemoryStream memoryStream)
    {
        var assembly = Assembly.Load(memoryStream.ToArray());

        if (assembly == null)
        {
            throw new Exception("Null Assembly");
        }

        if (DungeonBotCodeEditor == null)
        {
            return;
        }

        //var updateLibraryAction = new UpdateActionModuleLibraryAction("DungeonBot001", "DungeonBot001", memoryStream.ToArray(), new List<ActionModuleFile>() {
        //    new ActionModuleFile("DungeonBotGame.cs", await DungeonBotCodeEditor.GetValueAsync())
        //});

        //Dispatcher.Dispatch(updateLibraryAction);
    }

    private async Task CancelAsync()
    {
        if (DungeonBotCodeEditor != null)
        {
            await DungeonBotCodeEditor.SetValueAsync(GetValueFromState());
        }
    }
}
