
@if (Map != null)
{
    <div class="d-flex flex-wrap-reverse justify-content-center align-items-center">
    @for (short y = 0; y < GetMapTotalColumns(Map); y++)
    {
        <div class="d-flex w-100 justify-content-center align-items-center">
        @for (short x = 0; x < GetMapTotalRows(Map); x++)
        {
            <img class="map-cell pixel-image m-1" src="@GetBackgroundImageSource(Map, x, y)" data-x="@x" data-y="@y" />

            var target = Map.Targets.FirstOrDefault(t => t.Location.X == x && t.Location.Y == y);

            if (target!= null)
            {
                <img class="map-cell pixel-image m-1 position-absolute" src="@GetTargetImageSource(target)" data-x="@x" data-y="@y" />
            }
        }
        </div>
    }
    </div>
}

@code {
    [Parameter]
    public Combat.AdventureMap? Map { get; set; }

    short GetMapTotalRows(Combat.AdventureMap map)
    {
        return map.MaxDimensions.X;
    }

    short GetMapTotalColumns(Combat.AdventureMap map)
    {
        return map.MaxDimensions.Y;
    }

    string GetImageUrl(string imagePath)
    {
        return $"https://dungeonbot.net/{imagePath}";
    }

    string GetBackgroundImageSource(Combat.AdventureMap map, short x, short y)
    {
        return GetImageUrl(GetBackgroundRelativeImagePath(map, x, y));
    }

    string GetTargetImageSource(Combat.ITarget target)
    {
        return GetImageUrl(target.ImagePath);
    }

    string GetBackgroundRelativeImagePath(Combat.AdventureMap map, short x, short y)
    {
        var backgroundLocation = map.Locations.FirstOrDefault(l => l.Location.X == x && l.Location.Y == y);

        if (backgroundLocation != null)
        {
            return backgroundLocation.ImagePath;
        }

        return "images/empty.png";
    }
}
