@typeparam TListItem

<div class="accordion" id="@Id">
    @if (List != null && HeadingView != null && CollapseSectionView != null)
    {
        foreach (var item in List)
        {
            var headingId = HeadingIdFunction != null ? HeadingIdFunction(item) : $"G{Guid.NewGuid().ToString()}";
            var collapseSectionId = CollapseSectionIdFunction != null ? CollapseSectionIdFunction(item) : $"G{Guid.NewGuid().ToString()}";
            var isCollapsedInitially = IsCollapsedInitiallyFunction != null ? IsCollapsedInitiallyFunction(item) : true;

            <CollapsePanel HeadingId="@headingId" CollapseSectionId="@collapseSectionId" IsCollapsedInitially="@isCollapsedInitially" ParentAccordionId="@Id">
                <HeadingView>@HeadingView(item)</HeadingView>
                <CollapseSectionView>@CollapseSectionView(item)</CollapseSectionView>
            </CollapsePanel>
        }
    }
</div>
